# Generic
.vscode/
.env
.venv
.DS_store
logs/
# dbt
target/
dbt_modules/
dbt_packages/
# Python
**/test.py
__pycache__/
.python-version
#
models/*/tmp/
models/*/input/
models/*/output/
models/*/extra/
venv*
edr_target/