name: Deploy Elementary Report
on: workflow_dispatch
jobs:
  elementary:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout dbt project
        uses: actions/checkout@v3
      - name: Run Elementary
        uses: elementary-data/run-elementary-action@v1.12
        with:
          warehouse-type: bigquery 
          adapter-version: 1.5.9 
          profiles-yml: ${{ secrets.ELEMENTARY_PROFILES_YML }} 
          edr-command:
            edr report
              --file-path "report.html"
            &&
            edr send-report
              --google-service-account-path "/tmp/gcs_keyfile.json"
              --gcs-bucket-name "${{ secrets.GCS_BUCKET_NAME }}"
              --update-bucket-website "true"
          bigquery-keyfile: ${{ secrets.BIGQUERY_KEYFILE }}
          gcs-keyfile: ${{ secrets.GCS_KEYFILE }} 
      - name: Upload report
        uses: actions/upload-artifact@v3
        with:
          name: report.html
          path: report.html
      - name: Upload log
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: edr.log
          path: edr.log
